html, body {
  height: 100%;
}

input{
    outline: none!important;
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
}

h1 {
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.banner {
	height: 100%;
	background-color: #1da1f2;
}

.title {
	color: #1da1f2;
	font-size: 27px;
    line-height: 32px;
}

.subtitle {
	color: #14171a;
    font-size: 18px;
    line-height: 24px;
    margin: 16px auto;
}

.form-control {
	background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
}

.comunicacao {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.communicationItem {
	color: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 48px auto;
    position: relative;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {   
    text-decoration: none!important;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 3px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    background: #FE980F;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FE980F;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 3px solid #fff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    opacity: .8;
}

#sidebar ul li a:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.219);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #FE980F;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FE980F;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


a.article,
a.article:hover {
    background: #FE980F !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#main-container{
    min-height: 120vh;
}

.mudarMenu{
    background-color: #0009!important;
    padding: 1rem!important;
    width: 1175px!important;    
    z-index: 999!important;

}

.mudarMenu .shop-menu ul li a{
    background-color: transparent!important;
    color: white!important;
    text-shadow: .1rem .1rem .3rem black!important;
}

.login-form input, .signup-form input{
    border-bottom: 3px solid #FE980F!important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 1200px){
    .container {
        width: 1175px!important;
    }
    
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
